:root {
	--color-section: #FFFFFF;
	--color-background: #F5F6FA;

	--color-accent: #005DFF;
	--color-accent-strong: #004ACC;
	--color-accent-medium: #78A7FA;
	--color-accent-weak: #eff6ff;

	--color-neutral: #000000;
	--color-neutral-strong: #7C7D80;
	--color-neutral-medium: #C0C1C4;
	--color-neutral-weak: #E4E5E9;

	--color-info: #50B5FF;
	--color-info-weak: #EFF8FF;

	--color-success: #359A73;
	--color-success-weak: #F3F9F7;

	--color-danger: #DB5125;
	--color-danger-strong: #E07250;
	--color-danger-medium: #EFCDC5;
	--color-danger-weak: #F3ECED;

	--color-warning: #CB8A14;
	--color-warning-weak: #F3F0EC;

	--color-special-black: #000000;
	--color-special-white: #FFFFFF;

	--color-shadow: rgba(0, 93, 255, 0.25);
}

.dark {
	--color-section: #141414;
	--color-background: #000000;

	--color-accent: #005DFF;
	--color-accent-strong: #004ACC;
	--color-accent-medium: #0A3889;
	--color-accent-weak: #102343;
	
	--color-neutral: #FFFFFF;
	--color-neutral-strong: #808080;
	--color-neutral-medium: #4D4D4D;
	--color-neutral-weak: #202020;
	
	--color-info: #359A73;
	--color-info-weak: #181E22;

	--color-success: #359A73;
	--color-success-weak: #171F1C;

	--color-danger: #DB5125;
	--color-danger-strong: #B34522;
	--color-danger-medium: #462318;
	--color-danger-weak: #201815;

	--color-warning: #CB8A14;
	--color-warning-weak: #1F1B14;

	--color-shadow: rgba(0, 93, 255, 0.25);
}