@import "../frontend/public/fonts/Roobert/*";

@font-face {
  font-family: 'Roobert';
  src:
		url('../frontend/public/fonts/Roobert/Roobert-Regular.otf') format('woff2'),
		url('../frontend/public/fonts/Roobert/Roobert-Medium.otf') format('woff2'),
		url('../frontend/public/fonts/Roobert/Roobert-SemiBold.otf') format('woff2'),
		url('../frontend/public/fonts/Roobert/Roobert-Bold.otf') format('woff2'),
		url('../frontend/public/fonts/Roobert/Roobert-Heavy.otf') format('woff2'),
		url('../frontend/public/fonts/Roobert/Roobert-MediumItalic.otf') format('woff2'),
		url('../frontend/public/fonts/Roobert/Roobert-Light.otf') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
	font-family: 'Roobert';
}

h1 {
	page-break-before: always;
}

h1, h2, h3 {
	font-weight: 900;
	border: none;
}

.cover {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
}
.cover h1 {
	page-break-before: auto;
	font-size: 72px;
	padding-bottom: 0px;
}

table {
	width: 100%;
	border: 1px solid #000;
}

code {
	color: #000000 !important;
}

pre {
	padding: 40px;
	border-radius: 16px;
	border: none;
}

pre, code {
	font-family: 'Roboto Mono', monospace !important;
}

img {
	border-radius: 12px;
	max-height: 100vh;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: avoid;
}

code + em, img + em {
	display: block;
	color: #555;
	margin-bottom: 24px;
	padding-bottom: 24px;
	text-align: center;
	width: 100vw;
}

.dotted {
	border: none;
  width: 100%;
}

tocRow {
	display: flex;
	align-items: center;
}

tocRow a {
	text-decoration: none !important;
	color: black !important;
}

dots {
	flex: 1;
	width: 100%;
  height: 0px;
	border-bottom: 1px dashed #0004;
	margin: 0 12px;
}

.ml-1 {
	margin-left: 12px;
}
.ml-2 {
	margin-left: 24px;
}